header{
    height: auto;
    background: none;
}

main .news{
    padding: 100px 0 90px 0;
}
main .news h2{
    font-size: 30px;
    margin-bottom: 30px;
}
main .news p.roboto{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 500;
    text-transform: capitalize;
}
main .img{
    background: none;
}
main .imgs .box .eye{
    background: rgba(55, 137, 86, 0.85);
}