/* ========================= VAR CSS ================================ */

:root{
    --fm: 'Montserrat', sans-serif; 
    --fm-thin: 100;
    --fm-light: 300;
    --fm-regul: 400;
    --fm-bold: 700;
    --fm-black: 900;
    --fm1:'Myriad Pro';
    --fm1-regul: 400;
    --green: #68bf3b;
    --grey: #bdbdbd;
    --green_menu: #68cd16;
    --green_1: #a6a6a6;
    --white: #ffff;
    --black: #060503;
    --col_1: calc( 100% / 12 * 1 );
    --col_2: calc( 100% / 12 * 2 );
    --col_3: calc( 100% / 12 * 3 );
    --col_4: calc( 100% / 12 * 4 );
    --col_5: calc( 100% / 12 * 5 );
    --col_6: calc( 100% / 12 * 6 );
    --col_7: calc( 100% / 12 * 7 );
    --col_8: calc( 100% / 12 * 8 );
    --col_9: calc( 100% / 12 * 9 );
    --col_10: calc( 100% / 12 * 10 );
    --col_11: calc( 100% / 12 * 11 );
    --col_12: calc( 100% / 12 * 12 );
}

*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: var(--fm);
    background: var(--white);
/*     min-width: 340px; */
  
}

.container{
    max-width: 1140px;
    padding: 0 15px;
    margin: auto;
    box-sizing: border-box;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right:-15px;
    margin-left:-15px;
}
.m-0{
    margin: 0% !important;
}

/* =========================== justify ==================== */
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-start{
    justify-content: flex-start;
}
.justify-end{
    justify-content: flex-end;
}

/* ============================= align ====================== */
.align-item-center{
    align-items: center;
}
.align-item-start{
    align-items: flex-start;
}
.align-item-end{
    align-items: flex-end;
}
/* ==============================  flex-direction =================*/
.flex-direction{
    flex-direction: column;
}

/* =============================== col ============================= */
.col-xl-12{
    width: var(--col_12);
    padding: 0 15px;
}
.col-xl-8{
    width: var(--col_8);
    padding: 0 15px;
}
.col-xl-6{
    width: var(--col_6);
    padding: 0 15px;
}
.col-xl-5{
    width: var(--col_5);
    padding: 0 15px;
}
.col-xl-4{
    width: var(--col_4);
    padding: 0 15px;
}
.col-xl-3{
    width: var(--col_3);
    padding: 0 15px;
}
.col-xl-2{
    width: var(--col_2);
    padding: 0 15px;
}


/* ================================== header ======================= */

header{
    width: 100%;
    min-height: 768px;
    background: url('./rasm/header_bg.jpg') no-repeat center center  / cover;
    color: var(--white);
}
.logo{
    color: var(--white);
    font-size: 24px;
    font-weight: var(--fm-bold);
}
nav p{
    margin-right: 50px;
}
nav{
    padding-top: 30px;
    font-size: 24px;
    color: var(--white);
    display: flex;
    flex-wrap: wrap;
}
.box{
    display: flex;
    flex-wrap: wrap;
}
.menu{
    display: flex;
    width: 200px;
    height: 50px;
    background: var(--green);
    border: none;
    border-radius: 24px;
    justify-content: center;
    align-items: center;
}
a{
    color: var(--white);
    font-size: 16px;
    font-weight: var(--fm-regul);
}

header p:nth-of-type(2){
    font-size: 18px;
    font-weight: var(--fm-regul);
    margin: 38px 0 50px 0;
    text-transform: uppercase;
}
header .row p.id{
    font-family: var(--fm1);
    font-size: 18px;
    font-weight: var(--fm1-regul);
    line-height: 19px;
    margin: 180px 0 33px 0;
    text-transform: uppercase;
}
h1{
    font-size: 72px;
    font-weight: var(--fm-black);
    text-transform: uppercase;
}


/* ================================= Article ============================ */

article{
    width: 100%;
    padding-top: 85px;
}
h3{
    font-size: 36px;
    font-weight: var(--fm-bold);
    text-transform: uppercase;
    color: var(--green);
    margin-bottom: 60px;
}
.line{
    text-align: center;
}
article img{
    max-width: 100%;
}
article p{
    font-size: 18px;
    font-weight: var(--fm-regul);
    color: var(--grey);
    line-height: 36px;
}
article p.name{
    font-size: 24px;
    font-weight: var(--fm-bold);
    margin: 0 60px 0 15px;
}

/* ================================ Main ======================== */

main h2{
    font-family: var(--fm);
    font-size: 36px;
    font-weight: var(--fm-bold);
    color: var(--green_menu);
    opacity: 0.2;
    margin: 85px 0 50px;
}
main img{
    max-width: 100%;
    width: auto;
    height: auto;
}
main .img{
    position: relative;
}
main .img span{
    width: 60px;
    height: 60px;
    background: var(--green_menu);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 18px;
    font-weight: var(--fm-bold);
    position: absolute;
    top: 30px;
    left: 45px;
}
main h3{
    font-size: 30px;
    font-weight: var(--fm-bold);
    color: var(--green_1);
    margin: 28px 0;
}
main p{
    font-size: 14px;
    font-weight: var(--fm-regul);
    color: var(--green_1);
    line-height: 23px;
}
main p.price{
    font-weight: var(--fm-bold);
    font-size: 20px;
    color: var(--green_1);
    margin: 30px 0;
}
main p.price span{
    font-weight: var(--fm-light);
    font-size: 18px;
}
.m-25{
    margin-bottom: 50px;
}

/* ======================================= Section ============================ */

section{
    padding-top: 100px;
    text-align: center;
}
section h3{
    font-size: 14px;
    color: var(--green_1);
    font-weight: var(--fm-bold);
    margin: 27px 0 20px 0;
    text-transform: uppercase;
}
section p{
    font-size: 14px;
    color: var(--green_1);
    font-weight: var(--fm-regul);
    line-height: 24px;
    padding-bottom: 100px;
}
section img{
    max-width: 100%;
    height: auto;
}


/* ================================== Footer ============================= */


footer{
    background: var(--black);
    text-align: center;
}
p.bottom{
    color: var(--white);
    padding: 50px 0 54px 0;
    font-size: 16px;
    font-weight: var(--fm-thin);
}
p.bottom span{
    text-transform: uppercase;
}

/* ========================================= Media ============================== */

@media(max-width: 992px){
    .container{
        max-width: 960px;
    }
    .col-lg-6{
        width: var(--col_6);
    }
    .col-lg-4{
        width: var(--col_4);
    }
    .col-lg-5{
        width: var(--col_5);
    }
    .col-lg-3{
        width: var(--col_3);
    }
    main .menu{
        width: 80%;
        max-height: 50px;
    }

    .lg-center{
        text-align: center;
    }
    .lg-align-center{
        align-items: center;
    }
    .lg-justify-start{
        justify-content: flex-start;
    }
    article h3{
       margin: 20px 0 20px;
    }
    main h3{
        margin: 0;
    }
    
}
@media(max-width: 768px){
    .container{
        max-width: 720px;
    }
    .col-md-12{
        width: var(--col_12);
    }
    .col-md-6{
        width: var(--col_6);
    }
    .col-md-5{
        width: var(--col_5);
    }
}
@media(max-width: 576px){
    .container{
        max-width: 540px;
    }
    .col-sm-12{
        width: var(--col_12);
    }
    .col-sm-8{
        width: var(--col_8);
        
    }
    .col-sm-5{
        width: var(--col_3);
    }
    article p.name{
        margin: 0 15px;
    }
    .sm-center{
        text-align: center;
    }
    main .img span{
        display: none; 
    }
    main h2{
        margin: 35px 0 10px;
    }
}
